<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{{#if isUserPresent }}
    <div>{{user.firstName}}</div>
    <div>{{user.lastName}}</div>
    <div>{{user.age}}</div>
    <div>{{user.email}}</div>
{{/if}}
<div>hello</div>
<button><a href="/users" >show users</a></button>

</body>
</html>