doctype html
html
    head
        style
            include style.css
    body
        div.header
            | Hello!!!
        div
            block content
        div.footer
            | З повагою
            br
            a(href=FRONTEND_URL) Visit our web site
